<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="PrideSystems">

  <!-- Font loading -->
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

  <!-- App favicon -->
  <link rel="shortcut icon" href="/assets/images/favicon.ico">
  <!-- App title -->
  <title>Информационная система контроля заявок на гарантирование займов</title>

  <!--Plugin css-->
  <link rel="stylesheet" type="text/css" href="/plugins/switchery/switchery.min.css">

  <!-- App css -->
  <link rel="stylesheet" type="text/css" href="/plugins/jquery.steps/css/jquery.steps.css" />
  <link rel="stylesheet" type="text/css"  href="/assets/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css" />
  <link rel="stylesheet" type="text/css"  href="/assets/css/core.css" />
  <link rel="stylesheet" type="text/css"  href="/assets/css/components.css" />
  <link rel="stylesheet" type="text/css"  href="/assets/css/icons.css" />
  <link rel="stylesheet" type="text/css"  href="/assets/css/pages.css" />
  <link rel="stylesheet" type="text/css"  href="/assets/css/menu.css" />
  <link rel="stylesheet" type="text/css"  href="/assets/css/responsive.css" />
  <link rel="stylesheet" type="text/css"  href="/assets/css/react-select.css" />

  <style>
      .wizard > .steps .number{
          font-size: 66px;
      }
      .wizard > .content > .body ul > li{
          line-height: 20px;
      }
      div.well li i{
          font-size: 10px;
      }
  </style>


  <script>
    let resizefunc = [];
  </script>

  <script src="/assets/js/modernizr.min.js"></script>

  <!-- jQuery  -->
  <script src="/assets/js/jquery.min.js"></script>
  <script src="/assets/js/bootstrap.min.js"></script>
  <script src="/assets/js/detect.js"></script>
  <script src="/assets/js/fastclick.js"></script>
  <script src="/assets/js/jquery.blockUI.js"></script>
  <script src="/assets/js/waves.js"></script>
  <script src="/assets/js/jquery.slimscroll.js"></script>
  <script src="/assets/js/jquery.scrollTo.min.js"></script>

  <!--Plugin js-->
  <script src="/plugins/switchery/switchery.min.js"></script>
  <script src="/assets/js/jquery.core.js"></script>
  <script src="/ckeditor/ckeditor.js"></script>
  <script src="/plugins/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>
  <script src="/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>

  <link href="/plugins/stimulsoft/Css/stimulsoft.viewer.office2013.whiteblue.css" rel="stylesheet">
  <script src="/plugins/stimulsoft/Scripts/stimulsoft.reports.js" type="text/javascript"></script>
  <script src="/plugins/stimulsoft/Scripts/stimulsoft.viewer.js" type="text/javascript"></script>

  <link href="/plugins/stimulsoft/Css/stimulsoft.designer.office2013.whiteblue.css" rel="stylesheet">
  <script src="/plugins/stimulsoft/Scripts/stimulsoft.designer.js" type="text/javascript"></script>
</head>
