table.dataTable thead > tr > th:last-child{
	padding-left: 0;
    padding-right: 0;
}
#datatable-users .fa-pencil {
    color: #29b6f6;
}
#datatable-users .fa-trash-o {
    color: #f05050;
}
#datatable-users .actions a {
    padding: 5px;
}
#datatable-mforgs .fa-pencil {
    color: #29b6f6;
}
#datatable-mforgs .fa-trash-o {
    color: #f05050;
}
#datatable-mforgs .actions a {
    padding: 5px;
}
#datatable-requests .actions a {
    padding: 5px;
}
#datatable-requests .fa-trash-o {
    color: #f05050;
}
#datatable-requests .fa-pencil, #datatable-requests .fa-eye {
    color: #29b6f6;
}
.step-profile-picture{
	position: absolute;
    right: 30px;
    width: 80px;
}
.request-status{
    float: left;
    width: 100%;
    min-width: 100%;
    height: 40px;
    line-height: 40px;
    border-radius: 0;
    padding: 0;
}
.panel-body-bordered{
    border: 1px solid #bce8f1;
}
