.step-profile-picture{
	display: inline-block;
    float: right;
    width: 70px;
	margin-left: 10px;
}
.template-department-name{
	display: inline;
}
.template-badge{
	display: inline-block;
    float: right;
    margin-right: 40px;
    margin-top: 25px;
}
.widget-box-three .bg-icon{
	height: 50px;
    width: 50px;
}
.template-step-number{
	font-size: 25px;
    font-weight: 600;
    line-height: 47px;
    color: #797979;
}
.template-step-badge{
	margin-top: 10px;
}
.clickable-row{
    cursor: pointer;
}
.portlet .template-step-ph{
    border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
}